@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

header {
    background-color: rgba(229, 84, 115, 0.1);

}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.section-heading {
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}

.section-heading h2 {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 16px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* text-align: right; */
}

.banner .banner-text * {
    margin-bottom: 32px;
    max-width: 525px;
}

.banner .banner-text h1 {
    color: rgb(39, 39, 39);
    font-size: 60px;
    font-weight: 800;
}

p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

button {
    border-radius: 8px;
    background: rgb(229, 84, 115);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: none;
    font-weight: 700;
    padding: 14px 30px;
    cursor: pointer;
    /* transition: all 3s; */
    transition: all 2s;
}

button:hover {
    background: rgb(107, 34, 50);
}

.banner .banner-img img {
    width: 100%;
    vertical-align: middle;
    /*IMPORTANT**/
}

/* featured section  */
#featured .section-content {
    padding: 100px 0;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;

}

.section-content .flower .flower-img {
    border-radius: 300px 300px 0px 0px;
    padding: 30px 25px 0;
    height: 500px;
    display: flex;
    align-items: end;
}

.section-content .flower .flower-img img {
    width: 100%;

}

.section-content .flower .pink {
    background: rgba(167, 33, 98, 0.15);
}

.section-content .flower .blue {
    background: rgba(5, 151, 160, 0.15);

}

.section-content .flower .green {
    background: rgba(71, 125, 17, 0.15);
}

.section-content .flower p {
    color: rgb(39, 39, 39);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 16px;
    text-decoration-line: underline;
}